.attr-list {
  overflow: auto;
  padding: 0px 14px 20px;
  height: 100%;

  .el-form {
    .el-form-item {
      margin-bottom: 10px;
      .el-form-item__label {
        width: 80px;
        text-align: left;
      }
      .el-form-item__content {
        .unit {
          color: #ccc;
        }
        .el-select,
        .el-input-number {
          width: 120px;
        }
      }
    }

    .el-divider {
      margin: 18px 0 10px;
    }
  }
}
